body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border: 2px solid #02ccfe;
    width: 21cm;
    height: 29.7cm;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#left-panel {
    width: 24%;
    padding-right: 20px;
    border-right: 2px solid #02ccfe;
    text-align: center; /* Center the text in the left panel */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally in the left panel */
    color: white;
}

#content {
    width: 76%;
}

h1, h2, h3 {
    color: #02ccfe;
    margin-bottom: 10px;
}

p, li {
    color: black;
    margin-bottom: 5px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

li {
    position: relative;
}

li::before {
    content: "\2022";
    color: #02ccfe;
    font-size: 1.2em;
    position: absolute;
    left: -20px;
}

.contact-details, .languages, #photo {
    margin-bottom: 20px;
}

.contact-details, .languages {
    text-align: left;
}

.contact-details, .languages, #photo {
    width: 100%;
}

#photo {
    width: 150px;
    height: 150px;
    background-image: url('your_photo.jpg'); /* Replace 'your_photo.jpg' with the actual path to your photo */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
    align-self: center; /* Center the photo vertically in the left div */
}
